body {
  text-align: center;
  margin: 0;
}

header {
  background-color: #f15b31;
  color: #FFFFFF;
  padding: 30px 20px;
}

nav {
  background-color: #00a6b3;
  color: #FFFFFF;
  padding: 20px;
}

main {
  width: 850px;
  margin: 35px auto;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: #0D2C40;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  margin: 0;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #f15b31;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
}

h3 {
  font-family: "Raleway", sans-serif;
  color: #0D2C40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
}

a {
  text-decoration: none;
  margin: 0px 20px;
  color: #FFFFFF;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-color: white;
}

img {
  margin: 40px 8px;
}

button {
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px;
  background: #00a6b3;
}

button:hover {
  border-color: #f15b31;
}

footer {
  text-transform: uppercase;
  padding: 0px 20px;
  background: #0D2C40;
  color: white;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}

.copyright {
  float: left;
}
.message  {
  float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
  color: #f15b31;
  font-weight: 700;
}
